
.header.header-1{
    height: calc(53px + 35px);
    width: 100%;
    min-height: 54px;
    border-bottom: 1px solid transparent;
    background-color: #d6d2c4;
    z-index: 12;


    &.sticky-header{
        position: sticky;
        top:0;
        transition: transform 0.5s ease-in-out;
    }

    .header-1__logo{
        height: calc(53px + 35px);
        display: flex;
        justify-content: center;
        align-items: center;

        .header-1__logo-ratio-box{
            aspect-ratio: 4.5 / 1;
            height: 53px;
            display: flex;
            justify-content: center;

            img{
                max-height: 53px;
                width: 100%;
                height: 100%;
            }
            
        }
    }

    .header-navs{
        width: 100%;
        height: 32px;
        padding: 0 30px;

        .primary-nav{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;

            .primary-nav__items{
                display: flex;
                align-items: center;

                .primary-nav__item{
                    padding-right: 36px; 
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    .primary-nav__link{
                        line-height: 33px;
                        cursor: pointer;
                        height: 32px;
                        color: #212322;
                        font-size: 14px;
                    
                        transition: color 0.3s ease;
                        position: relative;
                        display: inline-block;

                        & span i{
                            font-size: 16px;
                        }

                        &:hover{
                            color: rgba(33, 35, 34, 0.7);
                        }

                        &::after{
                            content: "";
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            width: 0;
                            height: 2px;
                            background-color: rgba(33, 35, 34, 0.7); /* Adjust the color */
                            transition: all 0.3s ease;
                            transform: translateX(-50%);
                        }

                        &:hover::after{
                            width: 100%;
                        }
                    }

                    .subnav-container{
                        position: absolute;
                        text-align: left;
                        font-size: .875rem;
                        /* z-index: 10; */

                        background-color: #d6d2c4;
                        padding: 12px 18px;
                        min-width: 160px;
                        max-width: 270px;
                        width: max-content;
                        box-shadow: 0 8px 24px 0 rgba(33, 35, 34, 0.08);

                        display: none; /* Keep it hidden by default */
                        opacity: 0; /* Start with opacity 0 */
                        transition: opacity 0.1s ease-in-out;

                        .subnav-menu__link{
                            display: block;
                            color: rgba(33, 35, 34, 0.7);
                            width: 100%;
                            line-height: 1.5;
                            cursor: pointer;
                            padding: .5em .4em;
                            border-radius: 4px;
                            font-size: .875em;

                            &:hover{
                                background-color: rgba(33, 35, 34, 0.1);
                                
                            }
                        }
                    }
                    
                    
                    

                }
            }
        }

        .secondary-nav{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;

            

            .secondary-nav__items{
                &.secondary-nav__actions{
                    display: flex;
                    
                }

                .secondary-nav__item{
                    margin-left: 30px;

                    &:hover{
                        color: rgba(33, 35, 34, 0.7);
                    }
                }

                .secondary-nav__link {
                    font-size: 18px;

                    &.icon-cart-svg{
                        position: relative;
                        
                    }

                    .icon-cart{
                        display: block;

                        &:hover{
                            color: rgba(33, 35, 34, 0.7);
                        
                        }
                    }

                    .cart-count-bubble{
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        min-width: 14px;
                        line-height: 12px;
                        font-size: 9px;
                        padding: 1px 3px;
                        text-align: center;
                        letter-spacing: 0;
                        border-radius: 15px;
                        background-color: #212322;
                    }
                    
                    .cart-count-bubble .item-count{
                        color: #ffffff;
                    }
                }

            }
            
                
        }
        
    }

    .mobile__header-navs{
        display: none;

        .secondary-nav{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 30px;

            

            .secondary-nav__items{
                &.secondary-nav__actions{
                    display: flex;
                    
                }

                .secondary-nav__item{
                    margin-left: 30px;

                    &:hover{
                        color: rgba(33, 35, 34, 0.7);
                    }
                }

                .secondary-nav__link {
                    font-size: 18px;

                    &.icon-cart-svg{
                        position: relative;
                        
                    }

                    .icon-cart{
                        display: block;

                        &:hover{
                            color: rgba(33, 35, 34, 0.7);
                        
                        }
                    }

                    .cart-count-bubble{
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        min-width: 14px;
                        line-height: 12px;
                        font-size: 9px;
                        padding: 1px 3px;
                        text-align: center;
                        letter-spacing: 0;
                        border-radius: 15px;
                        background-color: #212322;
                    }
                    
                    .cart-count-bubble .item-count{
                        color: #ffffff;
                    }
                }

            }
            
                
        }
    }
       
}

.hide-header {
    transform: translateY(-100%); /* Moves the header off-screen */
}

/* MOBILE NAV - MAX_WIDTH 600PX */
.mobile__nav__drawer__bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b66;
    opacity: .5;

    visibility: hidden;
    transition: opacity 0.2s ease-in-out;

    &.mobile__nav__drawer__bg.active{
        opacity: 1;
        visibility: visible;
    }
}

.mobile__nav__drawer__open{
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    top: 0;
    right: auto;
    
    width: 480px;
    max-width: calc(100vw - 24px);
    overflow: hidden auto;
    background-color: #ffffff;

    transition: left 0.5s ease-in-out;
    left: -100%;

    padding-bottom: 120px;

    &.mobile__nav__drawer__open.active{
        left: 0;
    }

    .mobile__nav__drawer__head{
        z-index: 2;
    
        height: 96px;
    
        position: sticky;
        top: 0;
        display: block;
        background-color: #ffffff;

        .mobile__nav__drawer__close-btn{
            position: absolute;
            top: 24px;
            left: 24px;
            cursor: pointer;
        
            z-index: 1046;
            box-shadow: none;
            touch-action: manipulation;

            i{
                font-size: 20px;
                padding: 20px;
                cursor: pointer;
            }
        } 

        .mobile__nav__drawer__account{
            z-index: 3;
        
            position: absolute;
            top: 28px;
            right: 24px;

            .account__link{
                font-size: .95rem;
                padding: 20px;
                
                cursor: pointer;
            
                display: inline-flex;
                align-items: center;

                .account-icon__link i{
                    display: inline-block;
                    width: 1.25em;
                    margin-right: .5em;
                }
            }
            
        }
    }

    .mobile__nav__drawer__main{
        padding: 0 42px;
        display: block;

        .mobile__nav__drawer__items{
            background-color: #ffffff;
            position: static;

            .mobile__nav__drawer__items__item{
                display: block;
                &:not(:last-of-type) {
                    border-bottom: 1px solid rgba(33, 35, 34, 0.2);
                }

                .mobile__nav__drawer__link{
                    padding: 1.25em 0;
                    font-size: 1.5em;
                
                    position: relative;
                    box-sizing: border-box;
                    display: flex;
                
                    text-align: left;
                    text-decoration: none;
                    width: 100%;
                
                    line-height: 1.5;
                    opacity: 1;
                    cursor: pointer;
                    z-index: 1;
                
                    letter-spacing: 1px;

                    &.text09{
                        font-size: 0.9em;
                        opacity: 0.7;
                    }
                }

                .right-arrow{
                    position: absolute;
                    top: 50%;
                    right: .25em;
                    transform: translateY(-50%);
                
                    font-size: 1em;
                    width: 1em;
                    height: 1em;
                    line-height: 1em;
                    opacity: .7;
                }

                .mobile__nav__drawer__subnav-container{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    bottom: 0;
                    left: auto;
                    background-color: #ffffff;
                
                    z-index: 4;
                
                    height: 100%;
                    overflow-y: scroll;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                    
                    
                    padding-bottom: 25px;
                
                    transition: right 0.5s ease-in-out;
                    right: -100%;

                    &.mobile-subnav-active{
                        right: 0;
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                    

                    .mobile__nav__drawer__subnav__banner{
                        position: sticky;
                        top: calc(57px - 250px);
                    
                        z-index: 2;
                        padding-bottom: 6px;
                    
                        height: 250px;

                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        
                            max-width: 100%;
                            vertical-align: middle;
                            opacity: 1;
                        }
                    }

                    .mobile__nav__drawer__subnav__close-btn{
                        position: absolute;
                        top: 24px;
                        left: 24px;
                        cursor: pointer;
                    
                        z-index: 1046;
                        box-shadow: none;
                        touch-action: manipulation;

                        i{
                            font-size: 30px;
                            color: #ffffff;
                            padding: 20px;
                        }
                    } 

                    .mobile__nav__drawer__subnav__back{
                        margin: 0 42px;
                        letter-spacing: 1px;
                    
                        position: relative;
                        cursor: pointer;

                        .subnav__back__btn{
                            padding:1.5em 0;
                        
                            position: absolute;
                            top: 50%;
                            left: -3px;
                            transform: translateY(-50%);
                            height: 100%;
                            width: 2em;
                            background-color: transparent;
                            border: 0 none;
                            line-height: 1.5;
                            cursor: pointer;

                            i{
                                font-size:25px;
                                color: #212121;
                                width: 100%;
                            }
                            
                        }

                        .subnav__back__title{
                            text-align: center;
                            padding: 1.5em 1.5rem;
                        
                            font-size: 16px;
                        }
                    }

                    .mobile__nav__drawer__items{
                        padding: 0px 42px 0;
                        

                        .mobile__nav__drawer__items__item{
                            &:first-of-type{
                                border-top: 1px solid rgba(33, 35, 34, 0.2);
                            }
                        }
                    }


                }
            }
        }
    }

    .mobile__nav__drawer__footer{
        padding: 0 42px;

        .drawer__footer__social-items{
            margin-top: 12px;
            margin-left: -9px;
            display: flex;
            gap: 20px;

            .social-item{
                width: 20px;
                height: 20px;

                .social-icon{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    padding: 10px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    
                    }
                
                }
            }
        }
        
        
    }
}






/* MEDIA QUERIES */
@media (max-width: 1370px) {
    .header.header-1{
        height: auto;

        .header-navs{
            background-color: #d6d2c4;
            height: auto;
            padding-bottom: 10px;

            .primary-nav{
                position: static;
                text-align: center;
                margin: 0 0 12px;
                transform: translateY(0);
        
                .primary-nav__items{
                    justify-content: center;
                }
            }

            .secondary-nav{
                position: absolute;
                top: 0;
                top: 30%;
                transform: translateY(-50%);
                right: 30px;
            }
        }
    }   
}

@media (max-width: 605px) {

    .header.header-1{
        height: calc(53px + 35px);

        .header-1__logo{
            height: 100%;

            .header-1__logo-ratio-box{
                aspect-ratio: 4.5 / 1;
                height: 35px;

                img{
                    height: 100%;
                    max-height: 35px;
                    width: 100%;
                    
                }
                
            }
        }

        .header-navs{
            display: none;

            .secondary-nav{
                position: absolute;
                top: 0;
                top: 50%;
                transform: translateY(-50%);
                right: 30px;
            }
        }

        .mobile__header-navs{
            display: block;

            .mobile__primary-nav{
                position: absolute;
                top: 0;
                top: 50%;
                transform: translateY(-50%);
                left: 30px;
            }
        }
    }    
}

@media (max-width: 500px) {

    
    .header__logo-ratio-box{
        aspect-ratio: 4.5 / 1;
        height: 35px;
        max-width: 150px;

        img{
            height: 100%;
            max-height: 35px;
            width: 100%;
            max-width: 150px;
            
        }
        
    }

    

    .mobile__nav__drawer__open{
        .mobile__nav__drawer__head{
            .mobile__nav__drawer__close-btn{
                left: 0px;
            } 
    
            .mobile__nav__drawer__account{
                right: 18px;
                .account__link{
                    padding-right: 0;
                }
                
            }
        }
        .mobile__nav__drawer__main{
            padding: 0 18px;
        }

        .mobile__nav__drawer__footer {
            padding: 0 18px;
        }
    }

    .mobile__nav__drawer__items__item .right-arrow{
        right: 0 !important;
    }

    .header.header-1 .mobile__header-navs .secondary-nav .secondary-nav__items .secondary-nav__item {
        margin-left: 15px !important;
    }


    // .shopping-cart__head{
    //     padding: 0 18px;
    // }

    // .shopping-cart_items__item{
    //     padding: 0 18px;
    // }

    

    // .item__details__micro-copy{
    //     margin-top: 8px;
    //     margin-bottom: 10px;
    // }


    // .shopping-cart__order-details{
    //     padding: 0 18px;
    // }

    // .shopping-cart__actions{
    //     padding: 0 18px;
    // }

    // .shopping-cart__actions .btn{
    //     font-size: 12px;
    //     padding: 9px 18px;
    // }

    // .shopping-cart__actions .check-out-btn .lock-icon {
    //     margin-top: 2px;
    // }

    // .shopping-cart__actions .check-out-btn .lock-icon i{
    //     font-size: 16px !important;
    // }
    
}



